<p>Hello <%= @user.first_name %>,</p>
<p>You've been added to a new project.</p>
<p>Project title: <%= @project.title %></p>
<p>Project description: <%= @project.description %></p>
<p>Project deadline: <%= @project.deadline %></p>

<br>
<p>Regards,</p>
<p>Awesome Projects</p>
