<%= render 'projects/menu', id:hex.target %>
<p class='report'> Successfully generated a external report link: 
<%= link_to "#{ENV['DOMAIN']}/token/#{hex.token}","#{ENV['DOMAIN']}/token/#{hex.token}" %>
</p>
