<h1> About Us</h1>

<p>Welcome to Awesome Projects!</p>
<p>
  Awersome Projects is a web application to help you manager your project, espically useful when working on group projects.
</p>
<br>
<p>
  Contact:
  <br>
  Email: <%= mail_to 'lipwkevin@gmail.com' %>
</p>
