<div class = 'project-info'>
  <h1> Project Info </h1>
  <h2><%= project.title %></h2>
  <p>Project description: <%= project.description %></p>
  <p>Team Members: <%= project.contributors.map(&:name).join(', ') %></p>
</div>

<hr>
<% project.goals.each do| goal| %>
  <%= render '/goals/share', goal:goal %>
<% end %>
