// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.recieve{
  text-align: left;
  margin-left: 10px;
  span{
    background-color: orange;
  }
}

.sent{
  text-align: right;
  margin-right: 10px;
  span{
    background-color: lightblue;
  }
}

.chat-contein{
  background-color: lightgrey;
  padding-top: 10px;
  padding-bottom: 10px;
}

.message{
  & > span {
    border-radius: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }
  & > p {
    margin-top: 5px;
  }
}
