// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.remove {
  color: red;
}

.project-detail{
  padding-top: 10px;
  padding-bottom: 10px;
  a{
    color: black;
  }
  .Expired{
    color:red;
  }
  &:hover{
  background-color: #e0e4f8;
  }
}

li{
  margin-top: 0px;
  margin-bottom: 0px;
}

.btn-delete{
  a{
    color: #ffffff;
  }
}

.member-table{
  border: 1px solid #090909;
  td{
    font-size: 2rem;
    border: 1px solid #090909;
  }
  .Member{
    & > a{
      color:black;
    }
  }
  .Admin{
    & > a{
      color:red;
    }
  }
  tr > td:last-child {
    text-align: center;
  }
}

.btn-success{
  margin-top: 10px;
}

.link_to{
  position: absolute;
  right: 10px;
}

.project-info{
  & > p{
    font-size: 2rem;
  }
}
