<div class='row'>
  <div class="col-xs-12 col-sm-4 col-sm-offset-4">
    <%= form_tag new_log_path(id) do %>
      <div class="form-group">
        <%= label_tag :body %>
        <%= text_area_tag :body, nil, class: "form-control" %>
      </div>
      <%= submit_tag 'Create Log', class: "btn btn-default" %>
    <% end %>
  </div>
</div>
<hr>
